QMainWindow {
    background-color: #232b35;
}

/* ----------------------MENU BAR------------------------- */
QMenuBar {
    background-color: #232b35;
}

QMenuBar::item {
    color: #dfe1df;
    spacing: 3px; /* spacing between menu bar items */
    padding: 1px 4px;
    background: transparent;
    border-radius: 0px;
}

QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: #a8a8a8;
}

QMenuBar::item:pressed {
    background: #888888;
}

/* ----------------------LABELS------------------------- */
QLabel#timeLabel {
    color: white;
    font-family: "Roboto Lt";
    font-weight: bold;
}

QLabel#albumCoverLabel {
    color: transparent;
    font-family: "Roboto Lt";
    font-weight: bold;
    border-radius: 10px;
}

QLabel#titleLabel {
    background-color: transparent;
    color: white;
    font-family: "Roboto Lt";
    font-weight: normal;
    font-size: 12px;
    margin: 0px;
    padding: 0px;

}

QLabel#artistLabel {
    background-color: transparent;
    color: white;
    font-family: "Roboto Lt";
    font-weight: normal;
    font-size: 12px;
    margin: 0px;
    padding: 0px;

}

QLabel#albumLabel {background-color: transparent;
    color: white;
    font-family: "Roboto Lt";
    font-weight: normal;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

QFrame#songInfoFrame {
    background-color: #45403c;
    border-radius: 3px;
}

/* -------------------PUSH BUTTONS---------------------- */
QPushButton {


    border-width: 1px;
    border-style: solid;
    border-color: #be6d16;


    background-color: #f7941d;
    min-height: 25px;
    min-width: 72px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-family: "Lucidia Sans Unicode";
    /*font-family: "Keep Calm Med";*/
    font-weight: bold;
    font-size: 12px;
    color: #dfe1df;

}

QPushButton:hover {
    background-color: #f1a758;
}

QPushButton:pressed {
    background-color: #e87800;
}

QPushButton#pausePlayButton {
    border-style: none;
    border-image: url(C:/Users/Shahrooz/Documents/songPro/resources/PlayIcon50.png);
    background-color: rgba(246, 142, 30, 50%);
    qproperty-iconSize: 40px;
    min-height: 42px;
    min-width: 42 px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

QPushButton#pausePlayButton:checked {
    border-style: none;
    border-image: url(C:/Users/Shahrooz/Documents/songPro/resources/PauseIcon50.png);
    background-color: rgba(246, 142, 30, 50%);


}

QPushButton#pausePlayButton:hover:!checked {
    border-style: none;
    border-image: url(C:/Users/Shahrooz/Documents/songPro/resources/PlayIcon.png);
    background-color: rgba(246, 142, 30, 100%);


}

QPushButton#pausePlayButton:hover:checked {
    border-style: none;
    border-image: url(C:/Users/Shahrooz/Documents/songPro/resources/PauseIcon.png);
    background-color: rgba(246, 142, 30, 100%);


}

QPushButton#pausePlayButton:pressed:!checked {
    border-style: none;
    border-image: url(C:/Users/Shahrooz/Documents/songPro/resources/PlayIcon.png);
    background-color: rgba(232, 120, 0, 100%);


}

QPushButton#pausePlayButton:pressed:checked {
border-style: none;
    border-image: url(C:/Users/Shahrooz/Documents/songPro/resources/PauseIcon.png);
    background-color: rgba(232, 120, 0, 100%);


}
/*
QPushButton#pausePlayButton:!checked {
border-style: none;
    border-image: url(C:/Users/Shahrooz/Documents/songPro/resources/PlayIcon.png);

}

QPushButton#pausePlayButton:checked {
border-style: none;
    border-image: url(C:/Users/Shahrooz/Documents/songPro/resources/PauseIcon.png);

}
*/

QPushButton#forwardButton {
    border-style: none;
    border-image: url(C:/Users/Shahrooz/Documents/songPro/resources/forwardIcon50.png);
    background-color: rgba(246, 142, 30, 50%);
    qproperty-iconSize: 34px;
    min-height: 34px;
    min-width: 34px;
    border-top-right-radius: 0px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
}

QPushButton#forwardButton:hover {
border-style: none;
    border-image: url(C:/Users/Shahrooz/Documents/songPro/resources/forwardIcon.png);
    background-color: rgba(246, 142, 30, 100%);


}

QPushButton#forwardButton:pressed {
border-style: none;
    border-image: url(C:/Users/Shahrooz/Documents/songPro/resources/forwardIcon.png);
    background-color: rgba(232, 120, 0, 100%);


}


QPushButton#backButton {
    border-style: none;
    border-image: url(C:/Users/Shahrooz/Documents/songPro/resources/BackIcon50.png);
    qproperty-iconSize: 34px;
    background-color: rgba(246, 142, 30, 50%);
    min-height: 34px;
    min-width: 34px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 0px;
}

QPushButton#backButton:hover {
border-style: none;
    border-image: url(C:/Users/Shahrooz/Documents/songPro/resources/BackIcon.png);
    background-color: rgba(246, 142, 30, 100%);


}

QPushButton#backButton:pressed {
border-style: none;
    border-image: url(C:/Users/Shahrooz/Documents/songPro/resources/BackIcon.png);
    background-color: rgba(232, 120, 0, 100%);

}


/* ----------------------LIST VIEWS--------------------- */
QTreeView {
    background-color: #757581;
    alternate-background-color: #6c6b82;
    /*selection-color: #f7941d;*/
    /*selection-background-color: #f7941d;*/
    font-family: "Roboto";
    font-weight: normal;
    color: white;

    border: 0px;
    border-radius: 3px;

}

QTreeView::item {

    min-height: 30px;
}

QTreeView::item:hover {
    background-color: #e2bb91;
    font-family: "Roboto";
    font-weight: bold;

}

QTreeView::item:selected{
    color: #ffffff;
    background-color: #f7941d;
    font-weight: bold;

}

QHeaderView {

    background-color: rgba(0,0,0,0%);
}

QHeaderView::section {
    /*background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                      stop:0 #616161, stop: 0.5 #505050,
                                      stop: 0.6 #434343, stop:1 #656565);*/
    min-height: 30px;

    background-color: #13171c;
    color: white;
    padding-left: 4px;

    border-left: 0px solid gray;
    border-right: 1px solid gray;
    border-bottom: 0px solid gray;
    border-top: 0px solid gray;

    border-radius: 0px;
}

QHeaderView::section:first {
    border-top-left-radius: 3px;
}

QHeaderView::section:last {
    border-top-right-radius: 3px;
}

QHeaderView::section:checked
{
    background-color: red;
}

/*-----------------------SCROLL BARS-----------------------*/
QScrollBar:vertical {
    border: 0px solid grey;
    background: #45403c;
    width: 10px;
    margin: 22px 0 22px 0;
    border-radius: 5px;
}
QScrollBar::handle:vertical {
    background: white;
    min-height: 20px;
    border-radius: 5px;
}
QScrollBar::add-line:vertical {
    border: 2px none red;
    background: #9b7351;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: 2px none blue;
    background: #45403c;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: 0px solid yellow;
    width: 3px;
    height: 3px;
    border-radius: 2px;
    background: white;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

/* ----------------------TEXT FIELDS------------------------- */
QLineEdit {
    background-color: #45403c;
    padding: 0 8px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;

    color: white;
    font-family: "Roboto Lt";
    /*font-weight: bold;*/
    font-size: 12px;
}

/* ----------------------SLIDERS------------------------- */
QSlider::groove:horizontal {
    background: #757581;
    height: 10px;
    border-radius: 4px;
}

QSlider::sub-page:horizontal {
    background: #f68e1e;
    height: 10px;
    border-radius: 4px;
}

QSlider::add-page:horizontal {
    background: #757581;
    height: 10px;
    border-radius: 4px;
}

QSlider::handle:horizontal {
    background: #f68e1e;
    width: 16px;
    margin-top: -3px;
    margin-bottom: -3px;
    border-radius: 7px;
}

QSlider::handle:horizontal:hover {
    background: #f1a758;
    width: 16px;
    margin-top: -3px;
    margin-bottom: -3px;
    border-radius: 7px;
}

QSlider::sub-page:horizontal:disabled {
    background: #bbb;
    border-color: #999;
}

QSlider::add-page:horizontal:disabled {
    background: #eee;
    border-color: #999;
}

QSlider::handle:horizontal:disabled {
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 4px;
}


